<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chii.www.mapper.CourseListMapper">
    <resultMap id="BaseResultMap" type="com.chii.www.pojo.CourseList">
        <result column="cno" property="cno"/>
        <result column="cname" property="cname"/>
        <result column="tno" property="tno"/>
        <result column="tname" property="tname"/>
        <result column="cnum" property="cnum" />
        <result column="cnewnum" property="cnewnum"/>
    </resultMap>

    <sql id="View_Column_List">
        "cno",
        "cname",
        "tno",
        "tname",
        "cnum",
        "cnewnum"
    </sql>
    <!--调用视图-->
    <select id="selectAllByView" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="View_Column_List"/>
        FROM
        "selectAllCourseList"
        <where>
            <if test="_parameter != null">
                concat("cname","tname") LIKE '%${_parameter}%'
            </if>
        </where>
    </select>
</mapper>