<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chii.www.mapper.CourseListMapper">
    <resultMap id="BaseResultMap" type="com.chii.www.pojo.CourseList">
        <result column="cno" property="cno"/>
        <result column="cname" property="cname"/>
        <result column="tno" property="tno"/>
        <result column="tname" property="tname"/>
        <result column="cnum" property="cnum" />
        <result column="cnewnum" property="cnewnum"/>
    </resultMap>
    <sql id="Base_Column_List">
        "course"."cno",
        "course"."cname",
        "teacher"."tno",
        "teacher"."tname",
        "course"."cnum",
        Count("sct"."sno") AS "cnewnum"
    </sql>
    <sql id="View_Column_List">
        "cno",
        "cname",
        "tno",
        "tname",
        "cnum",
        "cnewnum"
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        "teacher"
        INNER JOIN "course" ON "teacher"."cno1" = "teacher"."cno1" OR "teacher"."cno2" = "course"."cno" OR "teacher"."cno3" = "course"."cno"
        LEFT JOIN "sct" ON "teacher"."tno" = "sct"."tno" AND "course"."cno" = "sct"."cno"
        WHERE
        "course"."cname" <![CDATA[ <> ]]>'无'
        <if test="_parameter != null">
            AND CONCAT("course"."cname","teacher"."tname") LIKE '%${_parameter}%'
        </if>
        GROUP BY
        "course"."cno",
        "course"."cname",
        "teacher"."tname",
        "course"."cnum",
        "teacher"."tno"
    </select>
    <!--调用视图-->
    <select id="selectAllByView" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="View_Column_List"/>
        FROM
        "selectAllCourseList"
        <where>
            <if test="_parameter != null">
                concat("cname","tname") LIKE '%${_parameter}%'
            </if>
        </where>

    </select>
</mapper>