<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chii.www.mapper.SctMapper">
    <resultMap id="BaseResultMap" type="com.chii.www.pojo.Sct">
        <id column="sno" property="sno"/>
        <id column="sname" property="sname"/>
        <id column="cno" property="cno"/>
        <id column="cname" property="cname"/>
        <id column="tno" property="tno"/>
        <id column="tname" property="tname"/>
        <result column="grade" property="grade"/>
    </resultMap>
    <sql id="Base_Column_List">
        "sno", "sname", "sdept", "cno", "cname", "tno", "tname", "grade"
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        FROM
        "selectAllSct"
        <where>
            <if test="_parameter != null">
                CONCAT(<include refid="Base_Column_List"/>) LIKE '%${_parameter}%'
            </if>
        </where>
    </select>
    <select id="selectBySno" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        FROM
        "selectAllSct"
        where "sno" = #{sno}
    </select>
    <select id="selectByTno" resultMap="BaseResultMap" parameterType="com.chii.www.pojo.PageBean">
        select
        <include refid="Base_Column_List"/>
        FROM
        "selectAllSct"
        <where>
            "tno" = #{key}
            <if test="searchPhrase != null">
                AND CONCAT("sno","sname","cname") LIKE '%${_parameter}%'
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.chii.www.pojo.Sct">
        select
        <include refid="Base_Column_List"/>
        FROM
        "selectAllSct"
        where "sno" = #{sno}
        and "cno" = #{cno}
        and "tno" = #{tno}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.chii.www.pojo.Sct">
        delete
        from "sct"
        where "sno" = #{sno}
          and "cno" = #{cno}
          and "tno" = #{tno}
    </delete>
    <insert id="insert" parameterType="com.chii.www.pojo.Sct">
        insert into "sct" ("sno", "cno", "tno", "grade")
        values (#{sno}, #{cno}, #{tno}, #{grade"})
    </insert>
    <insert id="insertSelective" parameterType="com.chii.www.pojo.Sct">
        insert into "sct"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sno != null">
                "sno",
            </if>
            <if test="cno != null">
                "cno",
            </if>
            <if test="tno != null">
                "tno",
            </if>
            <if test="grade != null">
                "grade",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sno != null">
                #{sno},
            </if>
            <if test="cno != null">
                #{cno},
            </if>
            <if test="tno != null">
                #{tno},
            </if>
            <if test="grade != null">
                #{grade"},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chii.www.pojo.Sct">
        update "sct"
        <set>
            <if test="grade != null">
                "grade" = #{grade"},
            </if>
        </set>
        where "sno" = #{sno}
        and "cno" = #{cno}
        and "tno" = #{tno}
    </update>
    <!-- 调用存储过程查询 -->
    <update id="updateByPrimaryKey" statementType="CALLABLE"  parameterType="com.chii.www.pojo.Sct">
        call "updateSctByKey"(
                #{sno,jdbcType=NCHAR,mode=IN},
                #{cno,jdbcType=NCHAR,mode=IN},
                #{tno,jdbcType=NCHAR,mode=IN},
                #{grade,jdbcType=DOUBLE,mode=IN}
        )
    </update>
</mapper>