<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chii.www.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.chii.www.pojo.Student">
        <id column="sno" property="sno"/>
        <result column="sname" property="sname" />
        <result column="ssex" property="ssex"/>
        <result column="sage" property="sage" />
        <result column="sdept" property="sdept" />
        <result column="password" property="password" />

    </resultMap>
    <sql id="Base_Column_List">
        "sno", "sname", "ssex", "sage", "sdept", "password"
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from "student"
        <where>
            <if test="_parameter != null">
                CONCAT("sno", "sname", "ssex", "sage", "sdept") LIKE CONCAT('%',#{_parameter},'%')
            </if>
        </where>
    </select>

    <select id="selectAllByTeaKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select "student"."sno", "student"."sname", "student"."ssex", "student"."sage", "student"."sdept"
        from "student"
        INNER JOIN "sct" ON "student"."sno" = "sct"."sno"
        where "sct"."tno" = #{tno}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from "student"
        where "sno" = #{sno}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from "student"
        where "sno" = #{sno}
    </delete>
    <insert id="insert" parameterType="com.chii.www.pojo.Student">
        insert into "student" ("sno", "sname", "ssex", "sage", "sdept","password")
        values (#{sno},
                #{sname},
                #{ssex},
                #{sage"},
                #{sdept},
                #{password})
    </insert>
    <insert id="insertSelective" parameterType="com.chii.www.pojo.Student">
        insert into "student"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sno != null">
                "sno",
            </if>
            <if test="sname != null">
                "sname",
            </if>
            <if test="ssex != null">
                "ssex",
            </if>
            <if test="sage != null">
                "sage",
            </if>
            <if test="sdept != null">
                "sdept",
            </if>
            <if test="password != null">
                "password",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sno != null">
                #{sno},
            </if>
            <if test="sname != null">
                #{sname},
            </if>
            <if test="ssex != null">
                #{ssex},
            </if>
            <if test="sage != null">
                #{sage"},
            </if>
            <if test="sdept != null">
                #{sdept},
            </if>
            <if test="password != null">
                #{password},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chii.www.pojo.Student">
        update "student"
        <set>
            <if test="sname != null">
                "sname" = #{sname},
            </if>
            <if test="ssex != null">
                "ssex" = #{ssex},
            </if>
            <if test="sage != null">
                "sage" = #{sage"},
            </if>
            <if test="sdept != null">
                "sdept" = #{sdept},
            </if>
            <if test="password != null">
                "password" = #{password}
            </if>
        </set>
        where "sno" = #{sno}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chii.www.pojo.Student">
        update "student"
        set "sname" = #{sname},
            "ssex"  = #{ssex},
            "sage"  = #{sage"},
            "sdept" = #{sdept},
            "password" = #{password}
        where "sno" = #{sno}
    </update>
</mapper>