<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chii.www.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.chii.www.pojo.Teacher">
        <id column="tno" property="tno"/>
        <result column="tname" property="tname" />
        <result column="tsex" property="tsex"/>
        <result column="tage" property="tage" />
        <result column="teb" property="teb" />
        <result column="tpt" property="tpt" />
        <result column="cno1" property="cno1"/>
        <result column="cno2" property="cno2"/>
        <result column="cno3" property="cno3"/>
        <result column="password" property="password" />

    </resultMap>
    <sql id="Base_Column_List">
        "tno",
        "tname",
        "tsex",
        "tage",
        "teb",
        "tpt",
        "cno1",
        "cno2",
        "cno3",
        "password"
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM "teacher"
        <where>
            <if test="_parameter != null">
                CONCAT(<include refid="Base_Column_List"/>) LIKE CONCAT('%',#{_parameter},'%')
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM "teacher"
        where "tno" = #{tno}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from "teacher"
        where "tno" = #{tno}
    </delete>
    <insert id="insert" parameterType="com.chii.www.pojo.Teacher">
        insert into "teacher" ("tno", "tname", "tsex", "tage", "teb", "tpt", "cno1", "cno2", "cno3","password")
        values (#{tno},
                #{tname},
                #{tsex},
                #{tage},
                #{teb},
                #{tpt},
                #{cno1},
                #{cno2},
                #{cno3},
                #{password})
    </insert>
    <insert id="insertSelective" parameterType="com.chii.www.pojo.Teacher">
        insert into "teacher"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tno != null">
                "tno",
            </if>
            <if test="tname != null">
                "tname",
            </if>
            <if test="tsex != null">
                "tsex",
            </if>
            <if test="tage != null">
                "tage",
            </if>
            <if test="teb != null">
                "teb",
            </if>
            <if test="tpt != null">
                "tpt",
            </if>
            <if test="cno1 != null">
                "cno1",
            </if>
            <if test="cno2 != null">
                "cno2",
            </if>
            <if test="cno3 != null">
                "cno3",
            </if>
            <if test="password != null">
                "password",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tno != null">
                #{tno},
            </if>
            <if test="tname != null">
                #{tname},
            </if>
            <if test="tsex != null">
                #{tsex},
            </if>
            <if test="tage != null">
                #{tage},
            </if>
            <if test="teb != null">
                #{teb},
            </if>
            <if test="tpt != null">
                #{tpt},
            </if>
            <if test="cno1 != null">
                #{cno1},
            </if>
            <if test="cno2 != null">
                #{cno2},
            </if>
            <if test="cno3 != null">
                #{cno3},
            </if>
            <if test="password != null">
                #{password},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chii.www.pojo.Teacher">
        update "teacher"
        <set>
            <if test="tname != null">
                "tname" = #{tname},
            </if>
            <if test="tsex != null">
                tsex = #{tsex},
            </if>
            <if test="tage != null">
                tage = #{tage},
            </if>
            <if test="teb != null">
                teb = #{teb},
            </if>
            <if test="tpt != null">
                tpt = #{tpt},
            </if>
            <if test="cno1 != null">
                "cno1" = #{cno1},
            </if>
            <if test="cno2 != null">
                "cno2" = #{cno2},
            </if>
            <if test="cno3 != null">
                "cno3" = #{cno3},
            </if>
            <if test="password != null">
                "password" = #{password},
            </if>
        </set>
        where "tno" = #{tno}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chii.www.pojo.Teacher">
        update "teacher"
        set "tname" = #{tname},
            "tsex"  = #{tsex},
            "tage"  = #{tage},
            "teb"   = #{teb},
            "tpt"   = #{tpt},
            "cno1"  = #{cno1},
            "cno2"  = #{cno2},
            "cno3"  = #{cno3},
            "password" = #{password}
        where "tno" = #{tno}
    </update>
</mapper>