
html {
    height: 100%;
}

body {
    /*background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1514881472495&di=d9c07e5a09dd0cf25a9bf773b5d18591&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F12%2F34%2F73C58PIC8uq_1024.jpg);*/
    /*background-repeat: no-repeat;*/
    background-color: #999999;
    background-size: 100% 100%;
    height: 100%;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    max-width: 333px;
}
.edit {
    margin-top: 10px;
}
.textcolor {
    color: white;
}